{:consumer-key "aASLM2EF7ueLmYhz2nOgbw"
 :consumer-secret "gKfCYBqRjD84593qB1DWBhIGb3iULkOICnpdlbbNfQw"
 :access-token "158268144-vf6e0BZZyfn21YVhZ0K2EYlo4PD25QHzBW7zUSH9"
 :access-token-secret "qOklqWiubQUxEqPSWxczzRUK1wPY3TLM6TGV9yyRx7Kaa"}
